.auth__page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  //   padding: 50px;
  //   gap: 20px;
  background-color: #e0e0e0;
  // background: linear-gradient(60deg, #263238, #212121);
  //   background-size: 400% 400%;
}
