.ancillary__parent {
  // height: 700px;
  width: 100%;
  padding-top: 60px;
  background-color: #e0e0e0;
  text-align: center;
  padding-bottom: 50px;

  .title {
    text-transform: uppercase;
    color: #333333;
    font-size: 3rem;
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  .scrollbar {
    width: 100%;
    // height: 100%;
    display: flex;
    gap: 2px;
    // flex-direction: row;
    flex-wrap: wrap;
    // overflow-x: scroll;
    // overflow-y: hidden;
    justify-content: center;
  }

  .scrollbar::-webkit-scrollbar {
    // display: none;
  }

  .card__top {
    height: 100%;
    transition: all 0.4s ease;

    img {
      object-fit: cover;
    }
  }
  .card:hover .card__top {
    height: 40% !important;

    div {
      transition: all 0.4s ease;
      background: transparent !important;
    }
  }
}

.card:hover .title__text {
  opacity: 0 !important;
}
