.booking {
  width: 100%;
  height: auto;
  padding-bottom: 100px;
  background: linear-gradient(60deg, #263238, #212121);

  .container {
    .room__type {
      // display: flex;
      .bookForm {
        position: relative;
        display: flex;
        flex-direction: column;
        span {
          cursor: pointer;
          width: 100%;
          height: 100%;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .active {
        color: black;
        font-weight: 900;
        background-color: green;
      }

      .room__booking__form {
        width: 100%;
        height: 70vh;
        background-color: rgb(73, 73, 73);
      }
    }
  }
}
