.explore__deepali__parent {
  padding-top: 20px;
  background: #e0e0e0;
  text-align: center;
  margin-top: 80px;
  .title {
    text-transform: uppercase;
    color: #333333;
    font-size: 3rem;
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  .grid__parent {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
