.custom__button__parent {
  transform: scale(1.2);
  min-width: 150px;
  text-align: center;
  a {
    text-decoration: none;
  }

  h4 {
    position: relative;
    padding: 10px 30px;
    border: solid 1.5px #333333;
    border-radius: 50px;
    font-weight: 500;
    color: #333333;
    font-size: 18px;
    overflow: hidden;
    transition: all ease 0.4s;
  }
  h4:hover {
    border: solid 1.5px #c48333;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
      0 7px 10px -5px rgba(33, 33, 33, 0.4);
  }

  h4::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: -100%;
    // background-color: #333333;
    background: linear-gradient(45deg, #5c3f10, #c48333, #946610);

    border-radius: 50%;
    transition: all ease 0.4s;
  }

  h4:hover::after {
    bottom: 0;
    border-radius: 0;
  }

  h4:hover span {
    // color: rgb(255, 152, 152);
    color: #ffffff;
  }

  span {
    color: #333333;
    z-index: 99;
    position: relative;
  }
}
